@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Pixelify+Sans:wght@400..700&display=swap');
* {
    gap: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
  font-family: Pixelify Sans, sans-serif;
  background-color: #2F4073;

}

.kepala{
    position: fixed;
    background-color: #50608F;
    width: 100%;
    height: 3.3rem;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
}



.kepala h1 {
    font-size: 2rem;
    padding-left: 6rem;
}

.navbar {
    font-size: 1.3rem;
    color: #000;
    display: flex;
    padding-right: 10rem;
    align-items: center;
    
}

.navbar a, h3 {
    text-decoration: none;
    color: #000;
    margin: 1rem;
    padding-right: 5rem;
}

 .content  {
    height: 0;
    width: 120px;
    background-color: #fff;
    top: 53px;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: height 0.5s ease-in-out;
    justify-content: center;
    overflow: hidden;
    padding-left: 2.8rem;
    /* nanti fix dropdowqnny COK */
    
}

.content a {
    justify-content: center;
    display: flex;
    line-height: 0%;
} 



.drop:hover .content {
    height: 80px;
 
}

.content a:hover {
    background-color: #000;
    

}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    
}

.jelaskan {
    width: 40%;
    position: relative;
    height: auto;
    line-height: 30px;
    font-size: 1.4rem;
}

.foto {
    min-height: 30rem;
    width: 28rem;
    margin-bottom: 6rem;
    
}

